body{
    margin-left: 144px;
}
.mainHeader{
    margin-top: 122px;
    margin-left: 444px;
    margin-right: 444px;
    color: #000;
    font-family: "Gill Sans", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subHeader{
    margin-top: 544px;
    margin-left: 505px;
    margin-right: 505px; 
    color: #000;
    font-family: "Gill Sans", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.cardHeaders{
    color: #000;
    font-family: "Gill Sans", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.cardText{
    color: #000;
text-align: center;
font-family: "Gill Sans", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 252px;
}

#textFormat{
    
}