/* Stil for fikset navigasjonsfeltet, plassering av lenker i midten av navigasjonsfeltet  */
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    padding: 3rem 0;
    height: 2rem;
    background: #BA68C8;
    word-spacing: 40px;
    text-align: center;
}

body{
    margin: auto;
}

/* Lenkeformatering, har tatt bort understreker paa alle lenker */
a:link {
    font-family: "Gill Sans", sans-serif; 
    color: white;
    text-decoration: none;
}
  
/* Besøkte lenker har en annen farge */
a:visited {
    color: rgb(72, 4, 87);
}
  
/* Musepeker over lenke med text shadow */
a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(51, 0, 51);
}

/* Stil for bilde av P52, med runde boarders*/
#picPilestredet{
    max-width: 100%;
    max-width: 100%;
    width: 67rem;
    height: 28rem;
    margin: auto;
    border-radius: 1.25rem;
    object-fit: cover;
}

/* Stil for bildetekst (fotograf) */
#picSource{
    font-family: "Gill Sans", sans-serif;
    margin-left: 50px; 
    width: auto;
}

/* Stil for sideinnhold, innholdet plasseres i midten */
#page{
    max-width: 1075px;
    margin:auto;
}

/* Stil for hovedoverskrift, overdkriftet plassres i midten*/
#mainHeader{
    margin-left:auto;
    margin-right: auto;
    margin-top: 150px;
    color: #000;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 392px;
}

/* Stil for undertittel, den plasseres i midten */
#subHeader{
    padding-top: 100px;
    padding-left: auto; 
    padding-right: auto;
    padding-bottom: 40px;
    color: #000;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: auto;
}

/* Stil for kortoverskrifter, de plasseres inn i midten av hver kort */
.cardHeaders{
    color: #000;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

/* Stil for korttekst, beskrivelser av steder i bygget */
.cardText{
    color: #000;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;

}

/* Stil for flex container 1, de første 3 kort er plassert i den første konteineren */
.flexContainer1 {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}
  
/* Stil for flex container 2, de andre 3 kort er plassert i den andre konteineren*/
  .flexContainer2 {
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: nowrap;
}

/* Stil for boks #box2 (kort) */
#box2{
    margin-left: 9.3rem;
    place-content: center; 
    object-fit: contain;
}

/* Stil for boks #box3 (kort) */
#box3{
    margin-left: 120px;
    place-content: center; 
}

/* Stil for boks #box5 (kort) */
#box5{
    margin-left: 7.5rem;
    place-content: center; 
}

/* Stil for boks #box6 (kort) */
#box6{
    margin-left: 9.3rem;
    place-content: center; 
}

/* Stil for bilde #pic1 (bildet inn i kortet) */
#pic1{
    width: 17vw;
    height: 27vh;
    flex-shrink: 0;
    object-fit: cover;
}

/* Stil for bilde #pic2 (bildet inn i kortet)*/
#pic2{
    width: 17vw;
    height: 26vh;
    margin-top: 10px;
    object-fit: cover;
}

/* Stil for bilde #pic3 (bildet inn i kortet)*/
#pic3{
    width: 17vw;
    height: 26vh;
    margin-left: 20px;
    object-fit: cover;
}
#pic4{
    width: 17vw;
    height: 26vh;
    object-fit: cover;
}

/* Stil for bilde #pic5 (bildet inn i kortet) */
#pic5{
    width: 17vw;
    height: 26vh;
    margin-left: 20px;
    object-fit: cover;
}

/* Stil for bilde #pic6 (bildet inn i kortet)*/
#pic6{
    width: 17vw;
    height: 26vh;
    object-fit: cover;
    padding-left: 1rem;
}

/* Stil for hovedinnhold*/
.mainContent{
    margin:auto;
    max-width: fit-content;
    max-height: fit-content;
}

/* Stil for bunntekst */
footer{
    background: #BA68C8;
    box-sizing: border-box;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: auto;
    height: 11vh;
    border-radius: 20px;
    
}

/* stil for OsloMet logoen */
#logo{
   object-fit: contain;
    width: 5vw;
    height: 6vh;
    margin-top: 2.5vh;
    margin-left: 4.5vw;
}
