body{
    background-color: beige;
}

/* styling av navbar */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: cadetblue;

}

/* Gjøre om list til en navbar */
.navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 0px;
}

.navbar li{
    margin-left: 10px;
}

/* styling på selve teksten i navbar */
.navbar a{
    position: relative;
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* Styling for å gjøre navbar interaktiv, Dette vil si at vi lager en underline som reagerer når man hoverer over elementet*/
.navbar a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: 0% 100%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
/* Styling som gjør underline synlig ved hover*/
.navbar a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}
/* Styling som gir underline på aktiv side */
.navbar .active-navbaritem a::before{
    visibility: visible;
    transform: scaleX(1);
}