/* code from https://codepen.io/P1N2O/details/pyBNzX 
 this code sets the background with a moving gradient */
* { /* reset margins and paddings on all elements */
	margin:0;
	padding:0;
}
body::before {
		content:""; /* required for ::before, it says the content is empty */
		position:fixed; /* makes it so the background does not scroll with the page */
		z-index:-100; /* place behind elements on page */
		width:100%;
		height:100%;
		background-color:#14C2CC;
		background-image: 
		radial-gradient(circle farthest-side at top right, transparent, #4d9cdd), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #ff1e00);
		animation:bg-change 10s infinite;
}
/* animation of the greadient effect */
@keyframes bg-change {
	0%, 100% {
		filter:hue-rotate(0deg);
	}
	50% {
		filter:hue-rotate(-45deg);
	}
}

/* styling of everything except campus */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* styling of navbar */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 100%;
    /* glass effect inspired by https://css.glass, 
    some tweeks adjusted to fit our website, 
    we know how it works in theory but couldnt make it from scratch ourself */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* makes the list into a navbar */
.navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 0px;
}

.navbar li{
    margin-left: 10px;
}

/* styling on text in navbar */
.navbar a{
    position: relative;
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* styling to make navbar interactive, 
this makes it so that when you hover over one element it underlines*/
.navbar a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: 0% 100%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

/* styling which makes the underline visible on hover*/
.navbar a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

/* styling that gives underline on active page */
.navbar .active-navbaritem a::before{
    visibility: visible;
    transform: scaleX(1);
}


/*content in topical-page*/
.content{
    padding-top: 10vh;
    padding-right: 10vw;
    padding-left: 10vw;
    display: flex;  
    flex-direction: column;
}

/* gives space between picture and the text */
.artikkelhead{  
    padding-bottom: 5vh;
}

/* color for the background of text in topical */
.artikkel{
    background-color: white;

}

/* aligns the text insiode the white space */
.tekst{
    text-align: left;
    margin-left: 2vw;
    margin-right: 2vw;
    line-height: 1.5;
}

/* styling of the main header */
.header1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* styling of all the remaining headers */
.header2{
    text-align: left;
    margin-left: 2vw;
}

/*styling of main photo */
.bilde1{
    display: block;
    margin-left: auto;
    margin-right: auto;      
    max-width: 60%;
    max-height: 60%;

   
}

/*styling of second photo */
.bilde2{
    max-width: 50%;
    float: right;
    padding-left: 2vw;

}

/* styling of third photo */
.bilde3{
    float: right;
    max-width: 50%;
    padding-left: 2vw;
}


/*home page styling*/
.container-index{
    padding-top: 10vh;
    width: 100%;
    
}
/* styling of front-page title */
.welcome h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 8rem;
    color: white;
    
}

.introduction{
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vw;
    font-size: 1.5rem;
    color: white;
    line-height: 1.5;
}

/* styling of all the articleboxes to make them line up etc. */
.articleboxes{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   width: 100%;
   justify-content: center;
   margin-top: 20vh;


}

/* induvidual design of all the boxes  */
.blogbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: white;
    margin-right: 1vw;
    margin-left: 1vw;
    max-width: 300px;
    position: relative;
    box-shadow: 20px 20px 1px;
    border-radius: 20px;
    /* glass effect inspired by https://css.glass, some tweeks adjusted to fit our website, we know how it works in theory but couldnt make it from scratch ourself */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* styling of headers inside acrticleboxes */
.blogtext h2 {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

}

/* styling of text inside articleboxes */
.blogtext p{
    text-align: center;
    font-size: larger;
    line-height: 1.5;
}

/* makes the whole box clickable and links to the relevant article */
.link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*styling of pictures inside the articleboxes */
.blog-picture1{
    width: 100%;
    flex-shrink: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 300px;
    min-width: 300px;
}
